<header>
    <div>
        <ul>
            <a href="/"> 
                <li>Início</li>
            </a>
            <a href="/adicionar/">            
                <li>Adicionar</li>
            </a>
        </ul>
    </div>
</header>