*{
    margin: 0;
    border: 0;
    padding: 0;
}
:root {
    --bg-color-main: ##FFFFFF;
    --text-color-main: #000000;
    --nav-color-main: ##000000;
    --bg-color-input: #7a7676 ;
}
@font-face {
    font-family: 'american';
    src: url(/public/fonts/AMRCANXB.TTF);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
body{
    background-color: var(--bg-color-main);
    color: var(--text-color-main);
    font-size: 20px;
}
header div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 65px;
    background-color: black;
    color: white;
    padding: 1.5rem;
}
header div input {
    background-color: var(--bg-color-input);
    color: var(--text-color-main);
    border-radius: 0.3rem;
    padding: 0.3rem;
}
header div ul {
    display: flex;
    gap: 1rem;
    left: 0;
    list-style: none;
    color: white;
    font-size: 40px
}
a{
    text-decoration: none;
    color: #000000;
}
header div a {
    text-decoration: none;
    color: white;
}
div.container-card{
    margin: 0;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(255, 255, 255);
    width: 50%;
    height: 50%;
    border-radius: 18px;
    gap: 5px;
}
.container-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
main .data-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
main .data-card .card-criador{
    display: flex;
    font-size: 30px;
    font-family: 'american';
}
main .data-card .card-origem{
    display: flex;
    font-size: 30px;
}
main .data-card .card-ano{
    display: flex;
    font-size: 30px;
}
main .data-card .card-teor{
    display: flex;
    font-size: 30px;
}

.container-img img{
    width: 300px;
}
main .header-card{
    display: flex;
    align-items: center;
}
main .header-card .delete-icon {
    position: absolute;
    top: 35px;
    right: 0;
    width: 25px;
}
main .header-card .edit-icon{
    position: absolute;
    right: -1.5px;
    top: 70px;
    width: 28px;
}
div.container-nome{
    display: flex;
    justify-content: center;
    font-size: 30px;
}